.App {
  text-align: center;
}

.logo-spring-react {
  width: 200px;
}

.cpf-header {
  margin-top: 50px;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
}

.header {
  background-color: #273653;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sub-title {
  text-align: center;
}

.table-button {
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  margin: -5px 5px 0;
  border: none;
}

/* .table-button:hover {
  background-color: rgb(209, 194, 194);
} */
